@charset "UTF-8";

/* Configurações gerais */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: #233EFF;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-shadow: 2px 2px 0px #1526A7;
  padding: 10px;
}