@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');


@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
}


:root {
    --fonte-android: 'Android', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}


body {
    background-color: #ebe5c5;
    font-family: var(--fonte-android);
}


a.externo::after {
    content: '\00A0\1F517';
}


header {
    background-color: #1a5c37;
    font-family: var(--fonte-destaque);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
}


header > h1 {
    color: white;
    font-family: 'Azeret-mono', cursive;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.274);
}


header > p {
    color: white;
    width: 462px;
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.425);
}


* {
margin: 0px;
padding: 3px;
}


nav {
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}


nav > a {
    color: #83e1ad;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}


nav > a:hover {
    background-color: #2fa866;
    color: #063d1e;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main  h1 {
    color: #063d1e;
    font-family: 'Azeret-mono', cursive;
    font-weight: normal;
    font-size: 1.8em;
}


main h2 {
    font-family: 'Azeret-mono';
    color: #1a5c37;
    font-size: 1.6em;
    font-weight: normal;
    background-image: linear-gradient(to right, #83e1ad, transparent);
    text-indent: 8px;
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}


main strong {
    color: #1a5c37;
    font-weight: bold;
}
   

main a {
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
    background-color: #83e1ad;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: #1a5c37;
}

main img {
    width: 100%;
}


main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}


div.video {
    background-color: #063d1e;
    margin-bottom: 30px;
    margin: 0px -23px 30px -23px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside {
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}



aside > h3 {
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.281);
}


aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}



footer {
    background-color: #063d1e;
    color: white;
    font-size: 0.8em;
    padding: 5px;
}

footer p {
    text-align: center;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #83e1ad;
    background-color: #1a5c37;
}