@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  background-color: lightgray;
}

header {
  background-color: rgb(148, 148, 148);
}

header > h1 {
  padding: 10px;
  text-align: center;
}

i#burguer {
  background-color: rgb(48, 48, 48);
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

i#burguer:hover {
  background-color: white;
  color: black;
}

menu {
  display: none;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(87, 87, 87);
  color: #ffffff;
  border-top: 2px solid grey;
}

menu > ul > li > a:hover {
  background-color: gray;
}

main {
  width: 90%;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

article > h2 {
  padding-bottom: 20px;
}

article > p {
  text-align: justify;
  margin-bottom: 10px;
  text-indent: 20px;
}