@media(max-width: 600px) {
    body {
        margin-left: 10%;
        margin-top: 2%;
    }

    .botao {
        left: 50%;
        top: 80%;
    }
}

@media(max-height: 832px) {
    .botao {
        left: 50%;
        top: 87%;
    }
}