:root {
    --azul-escuro-forte: #0d1323;
    --azul-escuro-fraco: #1d204b;
    --azul-claro: #56c2e6;

    --laranja: #ff8b64;

    --verde: #4ccf82;

    --roxo-escuro: #7234d3;
    --roxo-claro: #5746ea;

    --vermelho: #ff5e7d;

    --amarelo: #f1c75b;

    --branco: #d1d5de;
}